<div class="page">
  <div class="page__container--md">
    <div class="mb-4">
      <%= link_to bugs_path, class: "page__back", data: { controller: "keyboard-shortcut", keyboard_shortcut_key_value: "b" } do %>
        &larr; <%= t('bugs.root_causes.back') %>
        <span class="kbd">B</span>
      <% end %>
    </div>

    <div class="panel mb-8 text-center">
      <h1 class="text-3xl font-black mb-2"><%= t('bugs.root_causes.title') %></h1>
      <p class="txt-ink-medium"><%= t('bugs.root_causes.subtitle', count: @total_bugs) %></p>
    </div>

    <% if @cause_counts.any? || @feature_counts.any? %>
      <% if @cause_counts.any? %>
        <div class="panel mb-6">
          <h2 class="text-xl font-bold mb-6"><%= t('bugs.root_causes.by_cause') %></h2>
          <% max_cause = @cause_counts.values.max %>
          <div class="stack">
            <% @cause_counts.each do |tag, count| %>
              <%= link_to bugs_path(cause_tag: tag), class: "bar-chart__row" do %>
                <div class="bar-chart__header">
                  <span class="bar-chart__label bar-chart__label--red"><%= tag %></span>
                  <span class="bar-chart__count--red"><%= count %></span>
                </div>
                <div class="bar-chart__track">
                  <div class="bar-chart__fill bar-chart__fill--red" style="width: <%= (count.to_f / max_cause * 100).round(1) %>%;"></div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if @feature_counts.any? %>
        <div class="panel mb-6">
          <h2 class="text-xl font-bold mb-6"><%= t('bugs.root_causes.by_feature') %></h2>
          <% max_feature = @feature_counts.values.max %>
          <div class="stack">
            <% @feature_counts.each do |tag, count| %>
              <%= link_to bugs_path(feature_tag: tag), class: "bar-chart__row" do %>
                <div class="bar-chart__header">
                  <span class="bar-chart__label bar-chart__label--blue"><%= tag %></span>
                  <span class="bar-chart__count--blue"><%= count %></span>
                </div>
                <div class="bar-chart__track">
                  <div class="bar-chart__fill bar-chart__fill--blue" style="width: <%= (count.to_f / max_feature * 100).round(1) %>%;"></div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="blank-slate">
        <span class="blank-slate__emoji">&#128200;</span>
        <p class="blank-slate__text"><%= t('bugs.root_causes.no_data') %></p>
      </div>
    <% end %>
  </div>
</div>
