<div class="page">
  <div class="page__container--md">
    <div class="mb-4">
      <%= link_to root_path, class: "page__back", data: { controller: "keyboard-shortcut", keyboard_shortcut_key_value: "b" } do %>
        &larr; <%= t('users.index.back') %>
        <span class="kbd">B</span>
      <% end %>
    </div>

    <div class="page__header">
      <h1 class="text-4xl font-black"><%= t('users.index.title') %></h1>
      <%= link_to new_user_path, class: "btn btn--primary" do %>
        <%= t('users.index.new_user') %>
      <% end %>
    </div>

    <div class="table-container">
      <table class="table">
        <thead class="table__head--raised">
          <tr>
            <th><%= t('users.index.th_username') %></th>
            <th><%= t('users.index.th_role') %></th>
            <th class="text-right"><%= t('users.index.th_actions') %></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td class="font-semibold"><%= user.username %></td>
              <td>
                <% if user.admin? %>
                  <span class="<%= badge_classes(:admin) %>">admin</span>
                <% else %>
                  <span class="<%= badge_classes(:user) %>">user</span>
                <% end %>
              </td>
              <td class="text-right">
                <div class="flex justify-end gap-2">
                  <%= link_to edit_user_path(user), class: "btn btn--warning btn--sm" do %>
                    <%= t('users.index.reset_password') %>
                  <% end %>
                  <% if user != Current.user %>
                    <%= button_to user_path(user), method: :delete, data: { turbo_confirm: t('users.index.confirm_delete', username: user.username) }, class: "btn btn--danger btn--sm" do %>
                      <%= t('users.index.delete') %>
                    <% end %>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
