<div class="page">
  <div class="page__container--sm">
    <div class="mb-4">
      <%= link_to bug_path(@bug), class: "page__back", data: { controller: "keyboard-shortcut", keyboard_shortcut_key_value: "b" } do %>
        &larr; <%= t('bugs.edit.back') %>
        <span class="kbd">B</span>
      <% end %>
    </div>

    <div class="panel panel--padded">
      <h1 class="panel__title panel__title--lg"><%= t('bugs.edit.title') %></h1>

      <%= render 'form', bug: @bug %>

      <div class="panel__separator">
        <%= button_to @bug, method: :delete, data: { turbo_confirm: t('bugs.edit.confirm_delete') }, class: "btn--link-danger" do %>
          &#128465;&#65039; <%= t('bugs.edit.delete_bug') %>
        <% end %>
      </div>
    </div>
  </div>
</div>
