<%= form_with model: test_plan, class: "form-stack--lg" do |f| %>
  <% if test_plan.errors.any? %>
    <div class="error-box">
      <p><%= t('test_plans.form.error_saving') %></p>
      <ul>
        <% test_plan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name, t('test_plans.form.plan_name'), class: "label" %>
    <%= f.text_field :name, class: "input input--focus-blue", placeholder: t('test_plans.form.plan_name_placeholder') %>
  </div>

  <div>
    <%= f.label :qa_name, t('test_plans.form.responsible_qa'), class: "label" %>
    <%= f.text_field :qa_name, class: "input input--focus-blue", placeholder: t('test_plans.form.qa_placeholder') %>
  </div>

  <div data-controller="tag-input" class="relative">
    <%= f.label :tag_list, t('test_plans.form.tags'), class: "label" %>
    <%= f.text_field :tag_list, value: test_plan.tag_list, data: { tag_input_target: "input", action: "input->tag-input#onInput" }, class: "input input--focus-violet", placeholder: t('test_plans.form.tags_placeholder'), autocomplete: "off" %>
    <div data-tag-input-target="suggestions" class="hidden suggestions"></div>
    <p class="form-hint"><%= t('test_plans.form.tags_hint') %></p>
  </div>

  <div class="form-row">
    <%= f.submit (test_plan.new_record? ? t('test_plans.form.create_plan') : t('test_plans.form.update_plan')), class: "flex-1 btn btn--primary btn--lg" %>
    <%= link_to t('test_plans.form.cancel'), test_plans_path, class: "flex-1 btn btn--secondary btn--lg text-center" %>
  </div>
<% end %>
