<div class="panel mb-8">
  <h2 class="panel__title"><%= t('test_plans.show.add_new_scenario') %></h2>

  <%= form_with model: [test_plan, new_scenario], class: "form-stack" do |f| %>
    <div>
      <%= f.label :title, t('test_plans.show.scenario_title'), class: "label" %>
      <%= f.text_field :title, class: "input", placeholder: t('test_plans.show.scenario_title_placeholder') %>
    </div>

    <div class="form-grid-3">
      <div>
        <%= f.label :given, t('test_plans.show.given'), class: "label" %>
        <%= f.text_area :given, rows: 3, class: "input input--focus-blue", placeholder: t('test_plans.show.given_placeholder') %>
      </div>

      <div>
        <%= f.label :when_step, t('test_plans.show.when'), class: "label" %>
        <%= f.text_area :when_step, rows: 3, class: "input input--focus-blue", placeholder: t('test_plans.show.when_placeholder') %>
      </div>

      <div>
        <%= f.label :then_step, t('test_plans.show.then'), class: "label" %>
        <%= f.text_area :then_step, rows: 3, class: "input input--focus-blue", placeholder: t('test_plans.show.then_placeholder') %>
      </div>
    </div>

    <div>
      <%= f.label :evidence_files, t('test_plans.show.evidence_label'), class: "label" %>
      <label class="btn btn--primary btn--lg" style="cursor:pointer;">
        <%= icon_tag("paperclip", size: :sm) %>
        <%= t('test_plans.show.upload_evidence') %>
        <%= f.file_field :evidence_files, multiple: true, accept: "image/*,.pdf", class: "hidden", id: "file-upload" %>
      </label>
      <p class="form-hint" id="file-count"><%= t('test_plans.show.no_file_selected') %></p>
    </div>

    <button type="submit" class="btn btn--primary" data-controller="keyboard-shortcut" data-keyboard-shortcut-key-value="c">
      <%= t('test_plans.show.add_scenario') %>
      <span class="kbd">C</span>
    </button>
  <% end %>
</div>
