<div class="page">
  <div class="page__container--sm">
    <div class="mb-4">
      <%= link_to test_plan_path(@test_plan), class: "page__back", data: { controller: "keyboard-shortcut", keyboard_shortcut_key_value: "b" } do %>
        &larr; <%= t('test_plans.edit.back') %>
        <span class="kbd">B</span>
      <% end %>
    </div>

    <div class="panel panel--padded">
      <h1 class="panel__title panel__title--lg"><%= t('test_plans.edit.title') %></h1>

      <%= render 'form', test_plan: @test_plan %>

      <div class="panel__separator">
        <%= button_to @test_plan, method: :delete, data: { turbo_confirm: t('test_plans.edit.confirm_delete') }, class: "btn--link-danger" do %>
          &#128465;&#65039; <%= t('test_plans.edit.delete_plan') %>
        <% end %>
      </div>
    </div>
  </div>
</div>
